<div class="product-info">
  <h3>Descripcion Del Libro</h3>
</div>

<section class="product-container">
  <!-- left side -->
  <div class="img-card">
      <img src={{libro.Portada}} alt="" id="featured-image">

  </div>
  <!-- Right side -->
  <div class="product-info">
      <h3>Titulo: {{libro.Titulo}}</h3>
      <h5>Precio: {{libro.Precio}} </h5>


<p>{{libro.Descripcion}}</p>
      <div class="sizes">
          <p><strong>Autor: </strong>  {{libro.Autor}}</p>
          <p><strong>Genero: </strong>  {{libro.Genero}}</p>
      </div>

  </div>
</section>
